@import ../../../styles/globals

.checkbox
    transition: .5s
    height: 24px
    border-radius: 4px
    border: 1px solid $main-light
    &__check
        display: flex
        align-items: center
        justify-content: center
        color: $main-dark
        opacity: 0
        &_active
            opacity: 1