@import ../../styles/globals

.products
    width: 50%
    margin-right: 20px
    border: 1px solid $main
    border-radius: 4px
    
    &__articles
        width: 116px

    &__names
        width: 460px
    
    &__title
        margin: 0 
        padding: 4px 0
        text-align: center
        vertical-align: middle
        border-bottom: 1px solid $main
        &_art
            width: 111px
        
        &_name
            width: 460px
            border-left: 1px solid $main
    
    &__content
        overflow-y: scroll
        height: calc(70vh - 34px)
    
    &__row
        cursor: pointer
        border-top: 1px solid $main
        border-right: 1px solid $main

        &:first-child
            border-top: none

        &:last-child
            border-bottom: 1px solid $main

    .text
        &__article
            width: 100%
            text-align: center

        &__name
            margin-left: 10px
            $number-of-lines: 1
            //Это все для обрезания текста
            word-wrap: break-word
            overflow: hidden
            line-height: $line-height-default
            display: -webkit-box
            -webkit-line-clamp: $number-of-lines
            -webkit-box-orient: vertical

            
