@import ./globals

body
    font-style: normal
    
h1, h2, h3, p, span
    margin-block-start: 0
    margin-block-end: 0
    margin: 0

h1
    font-family: Quattrocento Sans
    font-weight: bold
    font-size: 24px
    line-height: 30px
    color: $dark

h2
    font-family: Quattrocento Sans
    font-weight: bold
    font-size: 19px
    line-height: $line-height-default
    color: $dark

h3
    font-family: Montserrat
    font-weight: normal
    font-size: 14px
    line-height: 18px
    color: $dark

p, span
    font-family: Montserrat
    font-weight: normal
    font-size: 14px
    line-height: $line-height-default
    color: $main-dark

