.button
    $button-width: 150px
    border-radius: 4px
    vertical-align: middle
    min-width: $button-width
    text-align: center
    transition: .5s
    cursor: pointer
    &:active
        transform: scaleX(0.95) scaleY(0.9)

@import ./_primary/button_primary
@import ./_active/button_active