@import ../../styles/globals

.bucket
    width: 50%
    border: 1px solid $main
    border-radius: 4px
    overflow: auto
    &__row
        cursor: pointer
        align-items: center
        padding: 10px
        border-bottom: 1px solid $main
        justify-content: space-between
        
        .bucket__text
            width: 80%

    &__article
        font-size: 10px
    
    &__checkbox
        margin-right: 10px

    &__name
        $number-of-lines: 2
        //Это все для обрезания текста
        word-wrap: break-word
        overflow: hidden;
        line-height: $line-height-default
        display: -webkit-box
        -webkit-line-clamp: $number-of-lines
        -webkit-box-orient: vertical;  
    
    &__description
        $number-of-lines: 4
        //Это все для обрезания текста
        word-wrap: break-word
        overflow: hidden;
        line-height: $line-height-default
        display: -webkit-box
        -webkit-line-clamp: $number-of-lines
        -webkit-box-orient: vertical;  